[submodule "personal-config.nvim"]
	path = personal-config.nvim
	url = git@github.com:noah-CAL/personal-config.nvim.git
[submodule "Neovim-Config"]
	path = Neovim-Config
	url = https://github.com/noah-CAL/Neovim-Config
